<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.lang.Swift" version="0.1.0" xmlns="http://www.phonegap.com/ns/plugins/1.0">
	<name>Crashlytics</name>
	<description>Cordova Plugin for Swift</description>
	<license>MIT</license>
	
	<engines>
       <engine name="cordova-ios" version=">=3.9.0" />
    </engines>
	
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <hook type="after_plugin_install" src="plugins/org.fathens.cordova.plugin.lang.Swift/platforms/ios/hooks/add-brdging_header.sh"/>
        </config-file>
        
        <hook type="after_plugin_install" src="platforms/ios/hooks/after_plugin_install.js"/>
        <hook type="before_plugin_uninstall" src="platforms/ios/hooks/before_plugin_uninstall.js"/>
    </platform>
</plugin>
