<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.fathens.cordova.plugin.lang.Swift" version="1.2.8" xmlns="http://www.phonegap.com/ns/plugins/1.0">
	<name>Crashlytics</name>
	<description>Cordova Plugin for Swift</description>
	<license>MIT</license>

	<engines>
       <engine name="cordova-ios" version=">=3.9.0" />
    </engines>

    <platform name="ios">
        <hook type="after_prepare" src="platforms/ios/hooks/after_prepare.rb"/>
    </platform>
</plugin>
